@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le site web</h1>
    <p>Apprennez à <a href="https://docs.microsoft.com/aspnet/core">Créer des sites web avec ASP.NET Core</a>.</p>
</div>
